body {
	padding-top: 50px;
}

.card {
	background-color: rgb(222,224,226);
	padding: 2.5% 5% 0% 5%;
}

.card >.row {
	font-size: 2em;
	padding-bottom: 5%;
	color: black;
	text-decoration: none;
}

.cardRight {
	text-align: right;
}